
<html>

    <head>
        <title>BroPro Camera Interface</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

    </head>

    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <a href="/toggle">{{ camera_status }}</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div>
            <ul>
                {% for file in current_files %}
                    <li>
                        <a href="/static/{{ file }}/get">{{ file }}</a><a href="/static/{{ file }}/delete">[delete]</a>
                    </li>
                {% endfor %}
            </ul>

        </div>

    </div>

    </body>
</html>
